*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
h1{
    font-size: 67.34px;
}
h2{
    font-size: 37.9px;
}
h3{
    font-size: 28.43px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 96px;
    width: 100%;
}
header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 1.5rem;

}
.nav-link{
    text-decoration: none;
    color: white ;
    font-weight: 600;
}
.botton-link{
    background-color: #31bbff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    text-decoration: none;
    
}
.section-1{
    background-color: green;
    display: flex;
    flex-direction: Row;
    justify-content: center;
    padding: 120px;
    height: 1450px;

    background-image: url(./images/tiger-in-river.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CCCCCC;
}

.section-1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-1 h1{
    color: white;
}
.section-1 p{
    color: white;
}

.title-and-description{
    max-width: 595px;
}
.consevasion-methods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
    margin-top: 72px;
}
.consevasion-method{
    position: relative;
}
.consevasion-method h3{
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: white;
}

.consevasion-method img{
    width: 100%;
    height: 100%;

}
.container{
    max-width: 1416px;
    width: 100%;
}
.section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 15px;
}
.section-2-heading-para{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #B2B2B2;
}
.pan-tiger{
    padding-left: 24px;
    padding-right: 450px;
    font-weight: 900;
    font-size: large;
    color: #B2B2B2;

}